@page
@model MamaWash.Pages.Beneficiary.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Beneficiaries</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Beneficiaries.AccountNumber" class="control-label"></label>
                <input type="number" asp-for="Beneficiaries.AccountNumber" class="form-control" />
                <span asp-validation-for="Beneficiaries.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiaries.BankName" class="control-label"></label>
                <select asp-for="Beneficiaries.BankName" asp-items="@Model.Banks">
                    <option value="">@Model.Banks.Skip(1).First().Text</option>
                </select>
                <span asp-validation-for="Beneficiaries.BankID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
