@page
@model MamaWash.Pages.Beneficiary.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Beneficiaries</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Beneficiaries.ID" />
            <div class="form-group">
                <label asp-for="Beneficiaries.AccountNumber" class="control-label"></label>
                <input asp-for="Beneficiaries.AccountNumber" class="form-control" />
                <span asp-validation-for="Beneficiaries.AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiaries.AccountName" class="control-label"></label>
                <input asp-for="Beneficiaries.AccountName" class="form-control" />
                <span asp-validation-for="Beneficiaries.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiaries.BankID" class="control-label"></label>
                <input asp-for="Beneficiaries.BankID" class="form-control" />
                <span asp-validation-for="Beneficiaries.BankID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiaries.RecipientCode" class="control-label"></label>
                <input asp-for="Beneficiaries.RecipientCode" class="form-control" />
                <span asp-validation-for="Beneficiaries.RecipientCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
