@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Mama Wash</h1>
    <p>Click <a asp-page="/Balance/Index">here</a> to view balance on Paystack.</p>


    <ul class="list-group">
        <li class="list-group-item">Make Transfers using the following steps:</li>

        <li class="list-group-item list-group-item-dark">Add Beneficiaries by clicking <a asp-page="/Beneficiaries/Create">here</a></li>
        <li class="list-group-item list-group-item-dark">Transfer After Adding Beneficiary by clicking <a asp-page="/Transfers/Create">here</a></li>
        <li class="list-group-item list-group-item-dark">Click <a asp-page="/Transfers/Index">here</a> to view transactions.</li>
    </ul>
</div>
