@page
@model MamaWash.Pages.Banks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card text-center">
    <div class="card-header">
        Account Balance
    </div>
    <div class="card-body">
        <h4 class="card-title">@Model.AccountBalance Naira</h4>
        <a class="btn btn-primary" asp-page="Index">Refresh Balance</a>
    </div>
    <div class="card-footer text-muted">
        Mama Wash
    </div>
</div>

<br />
<br />
